---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Who Am I?">
  <p>My name is Stefan and I build my first Astro project using <a href="https://www.ceos3c.com">ceos3c</a></p>
</MainLayout>